@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    transition: all 0.7s !important;
    box-sizing: border-box !important;
}
.navbar-brand h3{
    font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    .nav-item:hover .nav-link, .nav-item:focus .nav-link{
        color: white !important;
    }
    .nav-item:focus .nav-link{
        text-decoration: underline !important;
        text-decoration-color: #19FB9B !important;
        text-decoration-thickness: 3px !important;
            text-underline-offset: 15px;
    }
        .nav-item:hover .nav-link {
            text-decoration: underline !important;
            text-decoration-color: #19FB9B !important;
            text-decoration-thickness: 3px !important;
            text-underline-offset: 15px;
        }